$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

$dark-bg: #1b2732;
$purple-highlight: #9e71d4;

a {
  color: $purple-highlight;
  &:hover {
    color: darken($purple-highlight, 15%);
  }
}

body,
html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

header {

  &.header-home {
    background: $dark-bg;
    color: #fff;
    nav {
      a {
        color: #fff;
      }
    }
    h1 {
      margin: 10rem 0 0;
      font-size: 48px;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-size: 22px;
      font-weight: normal;
      width: 70%;
      margin: 1.5rem auto 0;
      color: lighten($dark-bg, 40%);
    }
  }

  &.header-groups {
    position: relative !important;
    height: 600px;
    nav {
      position: relative;
      z-index: 9999;
      a {
        color: #fff;
      }
    }
    .angular-leaflet-map {
      position: absolute !important;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      z-index: 500;
    }
  }

  nav {
    margin: 2rem 0;
    #menu {
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          display: inline-block;
          margin-right: 5px;
          &.active {
            a {
              background: rgba(255,255,255,0.2);
            }
          }
          a {
            display: block;
            padding: 4px 6px;
            border-radius: 2px;
            &:hover {
              text-decoration: none;
              background: rgba(255,255,255,0.3);
            }
          }
        }
      }
    }
  }
}

#group-slider {
  margin-top: 6rem;
  .group-container {
    .group-slide {
      background: #e1e1e1;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      min-height: 250px;
      margin-bottom: -10px;
      h2 {
        margin: 0;
        width: 100%;
        a {
          display: block;
          background: #fff;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          text-align: left;
          padding: 10px 12px;
          font-size: 16px;
          color: #444;
          text-decoration: none;
        }
      }
      .alert {
        margin: 10px 12px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 10px 12px;
          h4 {
            margin: 0;
            a {
              display: block;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

#featured-event {
  background: $purple-highlight;
  color: #fff;
  .container {
    padding: 12px 15px;
  }
  h3 {
    margin: 0 0 5px;
    font-size: 22px;
    a {
      color: #fff;
    }
  }
  h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: lighten($purple-highlight, 25%);
  }
}

#partners-logo-block {
  h3 {
    text-align: center;
    font-size: 32px;
    margin: 50px 0 30px;
  }
  .community-js {
    border-bottom: none;
    font-size: 40px;
    color: #000;
    font-weight: bold;
  }
  .partner-logos {
    text-align: center;
    a {
      display: inline-block;
      margin: 0 20px;
    }
  }
}