<nav class="row" role="navigation">
	<div class="col-md-2" id="logo">
		<a href="#/">Logo</a>
	</div>
	<div class="col-md-10 text-right" id="menu">
		<ul>
			<li ng-class="{'active': currentPage === 'groups'}"><a href="#/groups">Groups</a></li>
			<li ng-class="{'active': currentPage === 'events'}"><a href="#/events">Events</a></li>
			<li ng-class="{'active': currentPage === 'sponsorship'}"><a href="#/sponsorship">Sponsorship</a></li>
			<li ng-class="{'active': currentPage === 'who'}"><a href="#/who">Who we are</a></li>
		</ul>
	</div>
</nav>