<section id="partners-logo-block">
	<div class="container">
		<h3>{{bannerText}}</h3>
		<div class="row partner-logos">
			<a href="https://github.com" target="_blank"><img src="/images/partners/github.png" alt="Github" width="136px"></a>
			<a href="https://jsconf.com" target="_blank"><img src="/images/partners/jsconf.png" alt="JSConf" width="100px"></a>
			<a href="https://communityjs.org" target="_blank" class="community-js">CommunityJS.org</a>
			<a href="http://bangalorejs.org" target="_blank"><img src="/images/partners/bangalorejs.png" alt="BangaloreJS" width="100px"></a>
		</div>
	</div>
</section>